body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-family: 'Montserrat', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
    width: 340px;
    height: 550px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 12px 7px black;
}
h2{
    color: hsl(0, 0%, 100%);
}
.main-pic{
    border-radius: 14px;
    width: 300px;
    position: relative;
}
.info{
    width: 300px;
}
.view-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: hsl(178, 100%, 50%, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 7%;
    display: none;
}
.main-pic:hover + .view-icon {
    cursor: pointer;
    display: flex;
}
.main-pic:hover{
    cursor: pointer;
}

/*----------------*/

.prix-info, .credit{
    display: flex;
    align-items: center;
}
.prix-info img{
    padding-right: 5px;
}
.prix-info p:first-of-type{
    padding-right: 90px;
    color: hsl(178, 100%, 50%);
}
.prix-info img:last-of-type{
    width: 20px;
}

/*-----------------------*/

hr{
    height: 1px;
    background-color: hsl(215, 51%, 70%);
    border: none;
}


/*----------------------------*/
.credit img:last-of-type{
    width: 30px;
    padding-right: 10px;
}
.credit p:last-of-type{
    padding-left: 5px;
    color: white;
}
.credit p:last-of-type:hover ,h2:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}